@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body
{
    background-color:hsl(217, 54%, 11%) ;
}

#card-container
{
    width: 290px;
    height: 520px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-self: center;
    margin: 60px auto ;
    padding: 22px 20px 40px 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 0px 0px 70px hsl(215, 55%, 8%);
}

.equilibrium
{
    width: 290px;
    height: 290px;
    border-radius: 11px ;
    background-color: hsl(178, 100%, 50%);
}

.eth
{
    width: 290px;
    height: 290px;
    border-radius: 10px;
}

.eth:hover
{
    opacity: 0.5;
}


#section
{
    width: 280px;
    height: 290px;
    display: flex;
    flex-direction: column;
}


h1
{
   font-family: 'Outfit', sans-serif; 
   font-size: 22px;
   font-weight: 600;
   padding-top: 5px;
   color:hsl(0, 0%, 100%);
  
}


h1:hover
{
    color: hsl(178, 100%, 50%);
}


.description a
{
    text-decoration: none;
}


.description p
{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}


.info
{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 20px 0px;
    border-bottom: 2px solid  hsl(215, 32%, 27%);
}


.price
{
    width: 89px;
    display: flex;
    justify-content: space-between;
}


.price span
{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(178, 100%, 50%) ;
}


.days
{
    width: 92px;
    display: flex;
    justify-content: space-between;
}


.days span
{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}


svg
{
    align-items: center;
    margin: auto  0px;
}


.creator
{
    display: flex;
    justify-content: left;
    margin-top: 17px;
}


.creator img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid  hsl(0, 0%, 100%) ;
    margin-right: 20px;
}


.creator p
{
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.creator a
{
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}


a:hover
{
    color: hsl(178, 100%, 50%);
}
